main{
    margin: 0px 20px;
}

header {
    background: linear-gradient(#e66465, #9198e5);
    margin-bottom:20px;
}

h2 {
    font-weight: bold;
}

.btn {
    width:100%;
    margin:10px 0;
}

.city-list {

}

.favourable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.five-day-header {

}

.five-day-body {

}

.weather-icon {

}

.weather-display{
    border: 1px solid black;
    padding: 0 0 0 10px;
}

.card{
    margin:10px;
    background-color: gray;
}
