main{
    margin: 0px 20px;
}

header {
    background: linear-gradient(#e66465, #9198e5);
    margin-bottom:20px;
}

h2 {
    font-weight: bold;
}

.search {
    width: 49%;
    margin:10px 0;
}

.clear {
    width: 49%;
    margin:10px 0;
}

.favourable {
    background-color: rgb(1, 192, 1);
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.five-day-header {
    border-bottom: 1px solid black;
}

.weather-display{
    border: 1px solid black;
    padding: 0 0 0 10px;
}

.card{
    margin:15px 15px;
    border: 4px solid gainsboro;
    background-color: gray;
}

.searchbtn {
    width:100%;
    margin:10px 0;
}
